*{
    margin: 0;
    padding: 0;
}
body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f6f8fa;
}

div{
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

  h1 {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 20px;
  }

  input[type="text"] {
    padding: 10px;
    font-size: 16px;
    border-radius: 6px;
    border: 1px solid #ddd;
    margin-right: 10px;
  }

  button {
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 6px;
    border: none;
    background-color: #28a745;
    color: #fff;
    cursor: pointer;
    margin: 1rem;
  }

  p {
    font-size: 16px;
    margin-top: 10px;
  }

  span {
    font-weight: 600;
  }